.server,
.server-rooms,
.server-rooms__side {
  height: 100%;
}

.server-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
}

.server-connect__form,
.server-connect__description {
  width: 100%;
  max-width: 300px;
}

.server-connect__description {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.serverMessage {
  padding: 20px;
}

.server-rooms__side-label {
  position: sticky;
  top: 0;
  padding: 10px;
  background: white;
  z-index: 1;
}