.server,
.server-rooms,
.server-rooms__side {
  height: 100%;
}

.server-connect {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.serverMessage {
  padding: 20px;
}

.server-rooms__side-label {
  position: sticky;
  top: 0;
  padding: 10px;
  background: white;
  z-index: 1;
}