.server,
.server-rooms,
.server-rooms__side {
  height: 100%;
}

.server {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
}

.server .form-wrapper {
  display: flex;
  flex-direction: column;
}

.server-connect {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-connect__form,
.server-connect__description {
  width: 100%;
  max-width: 300px;
}

.server-connect__description {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}

.serverMessage {
  padding: 20px;
  margin-bottom: 2px;
}

.server-rooms {
  width: 100%;
}

.server-rooms__side-label {
  position: sticky;
  top: 0;
  padding: 10px;
  background: white;
  z-index: 1;
}