body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
  position: relative;
}

h3 {
	margin: 0 0 .5em 0;
}

#tab-login {
	padding: 1em;
}

#tab-login label {
    display: block;
    width: 100px;
    float: left;
    padding-right: 10px;
    clear:left;
}

#tab-login input {
    margin-bottom: 10px;
    width: 20em;
}

#loading {
	font-size: 200%;
	text-align:center;
	margin-top:200px;
}

.output, #servermessages {
	height: 400px;
	overflow-x: hidden;
    overflow-y: scroll;
	word-wrap: break-word;
	word-break:break-all;
	background-color: #fff;
	box-shadow: inset 1px 1px 3px #999;
	padding: .5em;
}

.input {
	width:92%;
}

.say {
	float: right;
}

.serverwelcome {
	color: #006600;
	font-weight: bold;
}

.chathistory {
	color: #c0c0c0;
}

.room-container {
	position:relative;
}

.chat-container {
	width: 70%;
}

.userlist-container {
	float:right;
	width: 28%;
}

#buddies, #ignores, .userlist {
	width: 100%;
	height: 500px;
	list-style-type: none;
	overflow-x: hidden;
    overflow-y: scroll;
	background: #fff;
	padding: 0;
	margin: 0;
	cursor: pointer;
	border: 1px solid #999;
}

#buddies li, #ignores li, .userlist li {
	padding: 0 3px;
}

#buddies .ui-selecting, #ignores .ui-selecting, .userlist .ui-selecting {
	background: #FECA40;
}

#buddies .ui-selected, #ignores .ui-selected, .userlist .ui-selected {
	background: #F39814; color: white;
}

.buddies-container, .ignores-container, .userinfo-container, .missingfeatures-container {
	float: left;
	width: 30%;
	margin: 1%;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
