.room-view,
.room-view__games,
.room-view__messages,
.room-view__messages-content {
  height: 100%;
}

.room-view__messages {
  display: flex;
  flex-direction: column;
}

.room-view__sayMessage {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}
