.room-view,
.room-view__games,
.room-view__messages,
.room-view__messages-content,
.room-view__side {
  height: 100%;
}

.room-view__messages {
  display: flex;
  flex-direction: column;
}

.room-view__messages-sayMessage {
  width: 100%;
  margin: 10px auto 2px;
}

.room-view__side-label {
  position: sticky;
  top: 0;
  padding: 10px;
  background: white;
  z-index: 1;
}