.Header {
  display: flex;
  width: 100%;
  height: 40px;
}

.Header__logo {
  height: 34px;
  margin: 3px;
}

.Header-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  background: #159741;
  color: white;
}

.Header-content a {
  color: inherit;
  text-decoration: none;
}

.Header-serverDetails {
  font-size: 12px;
}

.Header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.Header-nav__items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Header-nav__item {
  list-style: none;
  margin: 0 10px;
}

.Header-account {
    display: flex;
    align-items: center;
}

.Header-account__name {
  margin-right: 10px;
  font-weight: bold;
}

.Header-account__indicator {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: red;
  border: 2px solid;
  border-radius: 50%;
}

.temp-subnav__rooms {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 5px;
  border-bottom: 1px solid;
}

.temp-chip {
  border: 1px solid;
  border-radius: 20px;
  padding: 3px;
  margin-left: 5px;
  color: black;
  text-decoration: none;
}

