language: cpp
env:
  - QT4=1
  - QT4=0
os:
  - linux
  - osx
compiler:
  - gcc
  - clang
script: ./travis-compile.sh
install: ./travis-dependencies.sh
cache: apt
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d94969c3b01b22cbdcb7
    on_success: change
    on_failure: change
    on_start: false
