sudo: required   # forces legacy build infrastructure
group: travis_lts   # forces most stable build images

language: cpp

matrix:
  fast_finish: true
  include:
  - os: linux
    dist: trusty
    env: BUILDTYPE=Debug DIST=trusty
  - os: linux
    dist: trusty
    env: BUILDTYPE=Release DIST=trusty
  - os: osx
    osx_image: xcode7.3
    env: BUILDTYPE=Debug
    cache:
      ccache: true
      timeout: 360 # 6min timeout for cache uploading instead default 3
      directories:
        - $HOME/Library/Caches/Homebrew   # cache Homebrew ressources
  - os: osx
    osx_image: xcode7.3
    env: BUILDTYPE=Release
    cache:
      ccache: true
      timeout: 360 # 6min timeout for cache uploading instead default 3
      directories:
        - $HOME/Library/Caches/Homebrew   # cache Homebrew ressources

cache: ccache

install: bash ./.travis/travis-dependencies.sh

script: bash ./.travis/travis-compile.sh

deploy:
  provider: releases
  api_key:
    secure: "mLMF41q7xgOR1sjczsilEy7HQis2PkZCzhfOGbn/8FoOQnmmPOZjrsdhn06ZSl3SFsbfCLuClDYXAbFscQmdgjcGN5AmHV+JYfW650QEuQa/f4/lQFsVRtEqUA1O3FQ0OuRxdpCfJubZBdFVH8SbZ93GLC5zXJbkWQNq+xCX1fU="
  file_glob: true
  file: "build/Cockatrice-*"
  prerelease: true
  skip_cleanup: true
  overwrite: true
  on:
    tags: true
    repo: Cockatrice/Cockatrice
    condition: $BUILDTYPE = Release

notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/d94969c3b01b22cbdcb7
    on_success: change
    on_failure: change
    on_start: never
    
# official validator for ".travis.yml" config file: https://yaml.travis-ci.org
# travis config documentation: https://docs.travis-ci.com/user/customizing-the-build
