#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Cockatrice Oracle downloader
Exec=oracle %u
Icon=oracle
Categories=Game;CardGame;
MimeType=x-scheme-handler/cockatrice-oracle;
