[server]
port=4747
statusupdate=15000

[authentication]
method=none

[database]
type=none
prefix=cockatrice
hostname=localhost
database=servatrice
user=servatrice
password=foobar

[rooms]
size=1
1\name="General room"
1\description="Play anything here."
1\autojoin=true
1\joinmessage="This message is only here to show that rooms can have a join message."

[game]
max_game_inactivity_time=120
max_player_inactivity_time=15
