#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Servatrice
Exec=servatrice
Icon=servatrice
Categories=Game;CardGame;
Terminal=true
Comment=Game server for Cockatrice
