#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Cockatrice
Icon=cockatrice
Exec=cockatrice
Terminal=false
Type=Application
Keywords=mtg;magic;cockatrice;cor;cod;
MimeType=application/cod;application/cor;x-scheme-handle/cockatrice;
Categories=Game;CardGame;
Comment=
