.registerForm {
  width: 100%;
}

.registerForm-submit {
    width: 100%;
    /*padding is off, something in material-theme is causing it*/
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.column {
    width: 48%;
    flex: 0 1 auto;
    align-self: auto;
}
