.LeftNav__container {
  background: #7033DB;
  width: 100px;
  min-width: 100px;
  height: 100%;
}

.LeftNav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.LeftNav__logo a {
  line-height: 1;
}

.LeftNav__logo img {
  height: 32px;
}

.LeftNav-content {
  color: white;
}

.LeftNav-serverDetails {
  font-size: 12px;
}

.LeftNav-server__indicator {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: red;
  border: 1px solid;
  border-radius: 50%;
  margin-left: 10px;
}

.LeftNav-nav {
}

.LeftNav-nav__links {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 16px;
}

.LeftNav-nav__link {
  position: relative;
  height: 100%;
}

.LeftNav-nav__link:hover {
  background: rgba(0, 0, 0, .125);
}

.LeftNav-nav__link:hover .LeftNav-nav__link-menu {
  display: block;
}

.LeftNav-nav__link-btn {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 5px 20px;
  font-weight: bold;
}

.LeftNav-nav__link-btn__icon {
  margin-left: 5px;
}

.LeftNav-nav__link-menu {
  display: none;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  min-width: 150px;
  background: #3f51b5;
  box-shadow: 1px 1px 2px 0px black;
  z-index: 1;
}

.LeftNav-nav__link-menu__item {
  padding: 0 !important;
}

.LeftNav-nav__link-menu__btn {
  padding: 6px 16px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.LeftNav-nav__actions {
  display: flex;
  justify-content: center;
}

.LeftNav-nav__action {

}

.LeftNav-nav__action button {
  color: white;
}

.temp-subnav__rooms {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 5px;
}

.temp-chip {
  margin-left: 5px;
  text-decoration: none;
}


.temp-chip > div {
  cursor: inherit;
}
