.Header {
}

.Header__logo {
  display: flex;
  align-items: center;
}

.Header__logo a {
  line-height: 1;
}

.Header__logo img {
  height: 32px;
}

.Header-content {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
}

.Header-serverDetails {
  font-size: 12px;
}

.Header-server__indicator {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: red;
  border: 1px solid;
  border-radius: 50%;
  margin-left: 10px;
}

.Header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Header-nav__links {
  width: 100%;
  display: flex;
  padding-left: 50px;
  align-items: center;
}

.Header-nav__link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 5px 10px;
}

.Header-nav__menu {
  margin-left: 10px;
}

.temp-subnav__rooms {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 5px;
}

.temp-chip {
  margin-left: 5px;
  text-decoration: none;
}


.temp-chip > div {
  cursor: inherit;
}

