.connectForm {
	width: 300px;
	padding: 20px;
	border: 1px solid;
}

.connectForm-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.connectForm-item__label {
	margin-bottom: 5px;
}

.connectForm-item__field {
	height: 40px;
}

.connectForm-submit {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	border: 1px solid;
	border-radius: 10px;
	font-size: 20px;
}