name: Build Desktop

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - 'webclient/**'
      - '.github/workflows/web-*.yml'
    tags:
      - '*'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'webclient/**'
      - '.github/workflows/web-*.yml'

jobs:
  configure:
    name: Configure

    runs-on: ubuntu-latest

    outputs:
      tag: ${{steps.configure.outputs.tag}}
      sha: ${{steps.configure.outputs.sha}}
      upload_url: ${{steps.create_release.outputs.upload_url}}

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}} # needs other token https://github.com/styfle/cancel-workflow-action/issues/7

      - name: Configure
        id: configure
        shell: bash
        run: |
          tag_regex='^refs/tags/'
          if [[ $GITHUB_EVENT_NAME == pull-request ]]; then # pull request
            sha="${{github.event.pull_request.head.sha}}"
          elif [[ $GITHUB_REF =~ $tag_regex ]]; then # release
            sha="$GITHUB_SHA"
            tag="${GITHUB_REF/refs\/tags\//}"
            echo "::set-output name=tag::$tag"
          else # push to branch
            sha="$GITHUB_SHA"
          fi
          echo "::set-output name=sha::$sha"

      - name: Checkout
        if: steps.configure.outputs.tag != null
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Prepare release parameters
        id: prepare
        if: steps.configure.outputs.tag != null
        shell: bash
        env:
          TAG: ${{steps.configure.outputs.tag}}
        run: .ci/prep_release.sh

      - name: Create release
        if: steps.configure.outputs.tag != null
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{github.token}}
        with:
          tag_name: ${{github.ref}}
          release_name: ${{steps.prepare.outputs.title}}
          body_path: ${{steps.prepare.outputs.body_path}}
          draft: true
          prerelease: ${{steps.prepare.outputs.is_beta == 'yes'}}

  build-linux:
    strategy:
      fail-fast: false
      matrix:
        # these names correspond to the files in .ci/$distro
        include:
          - distro: ArchLinux
            package: skip # we are packaged in arch already
            allow-failure: yes

          - distro: Debian10
            package: DEB
            test: skip # running tests on all distros is superfluous

          - distro: Debian11
            package: DEB

          - distro: Fedora34
            package: RPM
            test: skip # gtest does not compile for some reason

          - distro: Fedora35
            package: RPM
            test: skip

          - distro: Fedora36
            package: RPM

          - distro: UbuntuBionic
            package: DEB

          - distro: UbuntuFocal
            package: DEB
            test: skip # UbuntuFocal has a broken qt for debug builds

          - distro: UbuntuImpish
            package: DEB
            test: skip

          - distro: UbuntuJammy
            package: DEB

    name: ${{matrix.distro}}

    needs: configure

    runs-on: ubuntu-latest

    continue-on-error: ${{matrix.allow-failure == 'yes'}}

    env:
      NAME: ${{matrix.distro}}
      CACHE: /tmp/${{matrix.distro}}-cache # ${{runner.temp}} does not work?
      # cache size over the entire repo is 10Gi link:
      # https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#usage-limits-and-eviction-policy
      CCACHE_SIZE: 200M

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get cache timestamp
        id: cache_timestamp
        shell: bash
        run: echo "::set-output name=timestamp::$(date -u '+%Y%m%d%H%M%S')"

      - name: Restore cache
        uses: actions/cache@v2
        env:
          timestamp: ${{steps.cache_timestamp.outputs.timestamp}}
        with:
          path: ${{env.CACHE}}
          key: docker-${{matrix.distro}}-cache-${{env.timestamp}}
          restore-keys: |
            docker-${{matrix.distro}}-cache-

      - name: Build ${{matrix.distro}} Docker image
        shell: bash
        run: source .ci/docker.sh --build

      - name: Build debug and test
        if: matrix.test != 'skip'
        shell: bash
        run: |
          source .ci/docker.sh
          RUN --server --debug --test --ccache "$CCACHE_SIZE"

      - name: Build release package
        id: package
        if: matrix.package != 'skip'
        shell: bash
        env:
          suffix: '-${{matrix.distro}}'
          type: '${{matrix.package}}'
        run: |
          source .ci/docker.sh
          RUN --server --release --package "$type" --suffix "$suffix" \
                  --ccache "$CCACHE_SIZE"

      - name: Upload artifact
        if: matrix.package != 'skip'
        uses: actions/upload-artifact@v2
        with:
          name: ${{matrix.distro}}-package
          path: ./build/${{steps.package.outputs.name}}
          if-no-files-found: error

      - name: Upload to release
        if: matrix.package != 'skip' && needs.configure.outputs.tag != null
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{github.token}}
        with:
          upload_url: ${{needs.configure.outputs.upload_url}}
          asset_path: ./build/${{steps.package.outputs.name}}
          asset_name: ${{steps.package.outputs.name}}
          asset_content_type: application/octet-stream

  build-macos:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: Debug # tests only
            os: macos-latest
            xcode: 12.5.1
            type: Debug
            do_tests: 0 # tests do not work yet on Mac
            make_package: false

          - target: 10.14_Mojave
            os: macos-10.15 # runs on Catalina
            xcode: 11.3 # allows compatibility with macOS 10.14
            type: Release
            do_tests: 0
            make_package: true

          - target: 10.15_Catalina
            os: macos-10.15
            xcode: 12.4
            type: Release
            do_tests: 0
            make_package: true

          - target: 11_Big_Sur
            os: macos-11
            xcode: 13.2
            type: Release
            do_tests: 0
            make_package: true

#          - target: 12_Monterey
#            os: macos-12
#            xcode: 13.3
#            type: Release
#            do_tests: 0
#            make_package: true

    name: macOS ${{matrix.target}}

    needs: configure

    runs-on: ${{matrix.os}}

    continue-on-error: ${{matrix.allow-failure == 'yes'}}

    env:
      DEVELOPER_DIR:
        /Applications/Xcode_${{matrix.xcode}}.app/Contents/Developer

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies using homebrew
        shell: bash
        # cmake cannot find the mysql connector
        # neither of these works: mariadb-connector-c mysql-connector-c++
        run: brew update && brew install protobuf

      - name: Install QT using homebrew
        id: brew_install_qt
        continue-on-error: true
        shell: bash
        run: |
          brew install qt@6 --force-bottle
          brew link qt

      - name: Install QT using actions
        if: steps.brew_install_qt.outcome != 'success'
        uses: jurplel/install-qt-action@v3

      - name: Build on Xcode ${{matrix.xcode}}
        shell: bash
        env:
          CMAKE_BUILD_PARALLEL_LEVEL: 3  # Mac machines actually have 3 cores
          BUILDTYPE: ${{matrix.type}}
        run: .ci/compile.sh --server

      - name: Test
        if: matrix.do_tests == 1
        shell: bash
        working-directory: build
        run: cmake --build . --target test

      - name: Package for ${{matrix.target}}
        id: package
        if: matrix.make_package
        shell: bash
        working-directory: build
        run: |
          cmake --build . --target package
          ../.ci/name_build.sh "-macOS-${{matrix.target}}"

      - name: Upload artifact
        if: matrix.make_package
        uses: actions/upload-artifact@v2
        with:
          name: macOS-${{matrix.target}}-dmg
          path: ${{steps.package.outputs.path}}
          if-no-files-found: error

      - name: Upload to release
        if: matrix.make_package && needs.configure.outputs.tag != null
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{github.token}}
        with:
          upload_url: ${{needs.configure.outputs.upload_url}}
          asset_path: ${{steps.package.outputs.path}}
          asset_name: ${{steps.package.outputs.name}}
          asset_content_type: application/octet-stream

      - uses: actions/checkout@v2
      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3

  build-windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: 32
            vcpkg_default_triplet: x86
            qt_version: '5.15.2'
            cmake_generator_platform: Win32
            qt_arch: msvc2019
          - arch: 64
            vcpkg_default_triplet: x64
            qt_version: '6.3.0'
            cmake_generator_platform: x64
            qt_arch: msvc2019_64
            qt_modules: "qt5compat qtmultimedia qtwebsockets"
    name: Windows (${{matrix.arch}}-bit)
    needs: configure
    runs-on: windows-2019
    env:
      CMAKE_GENERATOR: 'Visual Studio 16 2019'
    steps:
      - name: Add msbuild to PATH
        id: add-msbuild
        uses: microsoft/setup-msbuild@v1.1

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Restore Qt ${{matrix.qt_version}} (${{matrix.arch}}-bit) from cache
        id: cache-qt
        uses: actions/cache@v1 # Intentionally v1, based on jurplel documentation
        with:
          key: ${{runner.os}}-QtCache-${{matrix.qt_version}}-${{matrix.arch}}
          path: '${{github.workspace}}/../Qt'

      - name: Install Qt ${{matrix.qt_version}} (${{matrix.arch}}-bit)
        uses: jurplel/install-qt-action@v3
        with:
          cached: ${{steps.cache-qt.outputs.cache-hit}}
          version: ${{matrix.qt_version}}
          arch: win${{matrix.arch}}_${{matrix.qt_arch}}
          modules: ${{matrix.qt_modules}}
      - name: Run vcpkg
        uses: lukka/run-vcpkg@v10.2
        with:
          runVcpkgInstall: true
        env:
          VCPKG_DEFAULT_TRIPLET: '${{matrix.vcpkg_default_triplet}}-windows'
          VCPKG_DISABLE_METRICS: 1

      - name: Build Cockatrice (${{matrix.arch}}-bit)
        id: build
        shell: bash
        env:
          PACKAGE_SUFFIX: '-win${{matrix.arch}}'
          CMAKE_GENERATOR: '${{env.CMAKE_GENERATOR}}'
          CMAKE_GENERATOR_PLATFORM: '${{matrix.cmake_generator_platform}}'
          CMAKE_PREFIX_PATH: '${{github.workspace}}\Qt\${{matrix.qt_version}}\win${{matrix.arch}}_${{matrix.qt_arch}}'
          QTDIR: '${{github.workspace}}\Qt\${{matrix.qt_version}}\win${{matrix.arch}}_${{matrix.qt_arch}}'
        run: ./.ci/compile.sh --server --release --test --package --parallel=2

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: Windows-${{matrix.arch}}bit-installer
          path: ./build/${{steps.build.outputs.name}}
          if-no-files-found: error

      - name: Upload artifact to release
        if: needs.configure.outputs.tag != null
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{github.token}}
        with:
          upload_url: ${{needs.configure.outputs.upload_url}}
          asset_path: ./build/${{steps.build.outputs.name}}
          asset_name: ${{steps.build.outputs.name}}
          asset_content_type: application/octet-stream
